# /etc/systemd/system/xsolarbridge.service
[Unit]
Description=XSolar Bridge Deamon
After=network.target

[Service]
ExecStart=/usr/local/xsolar/bin/xsolarbridgest -c /usr/local/xsolar/etc/brconfigst.cfg
Restart=always

[Install]
WantedBy=multi-user.target
